body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212; /* Fundo escuro */
    color: #fff; /* Texto branco */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #fff; /* Texto branco */
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #666; /* Borda cinza mais escura */
    border-radius: 4px;
    background-color: #333; /* Fundo cinza escuro */
    color: #fff; /* Texto branco */
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

h1 {
    font-size: 28px;
    color: #fff; /* Título em branco */
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #ccc; /* Texto cinza claro */
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    background-color: #333; /* Fundo cinza escuro */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
